<!DOCTYPE html>
<html dir="ltr" lang="en" manifest="/offline.appcache" xmlns:og="http://opengraphprotocol.org/schema/">

<%- include head %>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container">

    <header role="header" id="header" class="">

        <div>
          <h1 id="logo">EVENTS</h1>
        </div>
      
    </header>

    <div class="events-block">
      <a href="/events/catch-the-flame"><img src="/img/catch_the_flame_114x114.png"></a>
      <a href="/events/coaster"><img src="/img/coaster_114x114.png"></a>
      <a href="/events/drinks"><img src="/img/drinks_114x114.png"></a>
      <a href="/events/ice-dance"><img src="/img/ice_dance_114x114.png"></a>
      <a href="/events/puzzle"><img src="/img/puzzle_114x114.png"></a>
      <a href="/events/save-nation"><img src="/img/save-nation-114x114.png"></a>
      <a href="/events/snowball"><img src="/img/snowball_114x114.png"></a>
      <a href="/events/tubing"><img src="/img/tubing_114x114.png"></a>
    </div>

    <%- include footer %>
  </div>

<%- include scripts %>
</body>
</html>