<!DOCTYPE html>
<html dir="ltr" lang="en" manifest="offline.appcache" xmlns:og="http://opengraphprotocol.org/schema/">

<%- include head %>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container">

    <header role="header" id="header" class="">

        <div>
          <h1 id="logo">EVENTS</h1>
        </div>
      
    </header>

    <div class="events-block event-tmpl">
      <img src="/img/ice_dance_114x114.png">
      <h2 class="blue">IMPROV ICE BALLET</h2>
      <p>3:30 PM</p>
    
      <div class="event-copy">
        <p>Create a spectacle using only your instinct, a few props and a backing track.</p>

        <p class="blue">Athletes per nation: <span class="white">2</span></p>

        <p class="blue">Venue: <span class="white">The Ice House</span></p>

        <p class="blue">Judges: <span class="white">Peter Lauricella,
  Sidney Rogers</span></p>
      </div>

    </div>



    <%- include footer %>
  </div>

<%- include scripts %>
</body>
</html>