<!DOCTYPE html>
<html dir="ltr" lang="en" manifest="offline.appcache" xmlns:og="http://opengraphprotocol.org/schema/">

<%- include head %>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container">
    <%- include header %>

    <div>
      <div class="purple-row">
        <a class="nav" href="/live-feed">LIVE FEED</a>
      </div>
      <div class="transparent-row">
        <a class="nav" href="/nations">NATIONS</a>
      </div>
      <div class="purple-row">
        <a class="nav" href="/timetable">TIMETABLE</a>
      </div>
      <div class="transparent-row">
        <a class="nav" href="/events">EVENTS</a>
      </div>
      <div class="purple-row">
        <a class="nav" href="/olympic-village">OLYMPIC VILLAGE</a>
      </div>
      <div class="transparent-row">
        <a class="nav" href="/moist">M.O.I.S.T</a>
      </div>
    </div>
    <%- include footer %>
  </div>

<%- include scripts %>
</body>
</html>