<!DOCTYPE html>
<html dir="ltr" lang="en" manifest="/offline.appcache" xmlns:og="http://opengraphprotocol.org/schema/">

<%- include head %>
<style type="text/css">
  #instafeed a img {
    margin: 3.5% auto;
    border: 1px solid #fff;
}
</style>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container">

    <header role="header" id="header" class="">

        <div>
          <h1 id="logo" class="lf-header">LIVE FEED</h1>
        </div>
      
    </header>

    <div class="events-block">
      <div id="instafeed"></div>
    </div>

    <%- include footer %>
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://markmurray.co/js/instafeed.min.js"></script>
<script>var instaFeed = new Instafeed({
              get: 'tagged',
              tagName: 'morvetgames',
              accessToken: '6678174.467ede5.205a03ebc4b74d4082823781c3149575',
              target: 'instafeed',
              limit: 60,
              resolution: 'low_resolution'
}); instaFeed.run();//@ sourceURL=pen.js
</script>
</body>
</html>