<!DOCTYPE html>
<html dir="ltr" lang="en" manifest="offline.appcache" xmlns:og="http://opengraphprotocol.org/schema/">

<%- include head %>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container">
    <header role="header" id="header" class="">

        <div>
          <h1 id="logo" class="ov-header">M.O.I.S.T</h1>
        </div>
      
    </header>

    <div class="moist-block">

      <h2>The Mother Olympic Institute of Sports &amp; Technology</h2>

      <h3>Code of Conduct</h3>

      <p>
      As well as representing a nation, all athletes are representing the company. Here's how to avoid making us look bad.<br>
      </p>

      <ul>
        <li>Don't break anything.</li>
        <li>Don't go anywhere you shouldn't go.</li>
        <li>Don't take anything or leave anything.</li>
        <li>Don't drink more than your Mother would.</li>
        <li>Don't do anything you wouldn't do in the office.</li>
        <li>Don't even think about banned substances.</li>
        <li>Remember to say 'please' and 'thank you'.</li>
      </ul>

      <h3>Emergency Contacts</h3>

      <p>Pernilla Ammann - <tel>917-617-8771</tel></p>
      <p>Jackson Gore Inn - <tel>802-228-1400</tel></p>
      <p>Tom's Tavern - <tel>802-228-5638</tel></p>
      <p>24 Hr Pizza - <tel>612-877-2624</tel></p>
    
    </div>

  </div>

<%- include scripts %>
</body>
</html>