<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:og="http://opengraphprotocol.org/schema/">
<%- include head %>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container">

    <header role="header" id="header" class="">

        <div>
          <h1 id="logo">NATIONS</h1>
        </div>
      
    </header>

    <div class="nations-block">
      <a href="/nations/bangladesh"><img src="/img/flags/bangladesh.png"></a>
      <a href="/nations/bolivia"><img src="/img/flags/bolivia.png"></a>
      <a href="/nations/botswana"><img src="/img/flags/botswana.png"></a>
      <a href="/nations/cambodia"><img src="/img/flags/cambodia.png"></a>
      <a href="/nations/chad"><img src="/img/flags/chad.png"></a>
      <a href="/nations/kuwait"><img src="/img/flags/kuwait.png"></a>
      <a href="/nations/kyrgyzstsn"><img src="/img/flags/kyrgyzstan.png"></a>
      <a href="/nations/seychelles"><img src="/img/flags/seychelles.png"></a>
      <a href="/nations/senegal"><img src="/img/flags/senegal.png"></a>
      <a href="/nations/st-lucia"><img src="/img/flags/st-lucia.png"></a>
      <a href="/nations/vatican-city"><img src="/img/flags/vatican-city.png"></a>
      <a href="/nations/zambia"><img src="/img/flags/zambia.png"></a>
    </div>

    <%- include footer %>
  </div>

<%- include scripts %>
</body>
</html>