<!DOCTYPE html>
<html dir="ltr" lang="en" manifest="offline.appcache" xmlns:og="http://opengraphprotocol.org/schema/">

<%- include head %>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container">

    <header role="header" id="header" class="">

        <div>
          <h1 id="logo" class="ov-header">OLYMPIC VILLAGE</h1>
        </div>
      
    </header>

    <div class="ov-block">

      <img src="/img/olvil_key.jpg" alt="Olympic Village Key">

      <img src="/img/olvill_hotelmap.jpg" alt="Olympic Village Hotel Map">

      <ol>
        <li><h5 class="purple">LODGING</h5>
          <span class="small">Jackson Gore/Adams/Bixby
  You have been assigned a room in one of 
  the three houses.</span>
        </li>

        <li><h5 class="purple">DINING - THE ROUNDHOUSE</h5>
          <span class="small">Breakfast: Mezzanine<br>Dinner: Downstairs</span>
        </li>

        <li><h5 class="purple">COLEMANS LOBBY BAR</h5>
          <span class="small">Optional open bar gathering Wed night</span>
        </li>

        <li><h5 class="purple">SKI / SNOWBOARD RENTAL OFFICE</h5>
          <span class="small">You will receive a pass at breakfast. Bring it to the rental office to redeem your equipment.</span>
        </li>

        <li><h5 class="purple">BUS MEET UP POINT</h5>
          <span class="small">Meet here for bus departures.</span>
        </li>

        <li><h5 class="purple">OUTDOOR POOL / HOT TUB</h5>
          <span class="small">Duh.</span>
        </li>

        <li><h5 class="purple">SKI / SNOWBOARD LESSONS</h5>
          <span class="small">Get your equipment and meet here if you signed up for lessons.</span>
        </li>

        <li><h5 class="purple">SPA / MASSAGE</h5>
          <span class="small">Not pre-paid. Available by appointment. <br><tel>(802)-228-1418</tel></span>
        </li>

        <li><h5 class="purple">SNOW TUBING</h5>
          <span class="small">Not pre-paid. 12-5PM.</span>
        </li>

        <li><h5 class="purple">MOUNTAIN COASTER</h5>
          <span class="small">Not pre-paid. 12-5PM.</span>
        </li>

      </ol>

      <img src="/img/olvil_mountain_detail.jpg" alt="Mountain Detail">

    </div>

    <%- include footer %>

  </div> <!-- end container -->

<%- include scripts %>
</body>
</html>