<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:og="http://opengraphprotocol.org/schema/">
<%- include head %>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container">

    <header role="header" id="header" class="">

        <div>
          <h1 id="logo">EVENTS</h1>
        </div>
      
    </header>

    <div class="events-block event-tmpl">
      <img src="/img/save-nation-114x114.png">
      <h2 class="blue">SAVE THE NATION</h2>
      <p>4:30 PM</p>
    
    <div class="event-copy">
      <p>Your national stick is drowning, save it. Whilst tied to your countryman.</p>

      <p class="blue">Athletes per nation: <span class="white">2</span></p>

      <p class="blue">Venue: <span class="white">The Spring House</span></p>

      <p class="blue">Judge: <span class="white">Peter Lauricella</span></p>

    </div>



    <%- include footer %>
  </div>

<%- include scripts %>
</body>
</html>