<!DOCTYPE html>
<html dir="ltr" lang="en" manifest="/offline.appcache" xmlns:og="http://opengraphprotocol.org/schema/">

<%- include head %>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container">

    <header role="header" id="header" class="">

        <div>
          <h1 id="logo">NATIONS</h1>
        </div>
      
    </header>

    <div class="nations-block nation-tmpl">
      
      <img src="/img/flags/senegal.png">
      
      <h2 class="blue">SENEGAL</h2>
    
      <div class="nation-copy">

        <p class="blue">Team Captain:<br> <span class="white">Justin Zerenner</span></p>

        <p class="blue">Team: <br><span class="white">Dayna Uyeda, Matt Wenger, Tom Grunwald, Paul Malmstrom, Katie Persichilli, Daniel Grimaldi, Andy Dao</span></p>

      </div>

    </div>



    <%- include footer %>
  </div>

<%- include scripts %>
</body>
</html>