<!DOCTYPE html>
<html dir="ltr" lang="en" manifest="/offline.appcache" xmlns:og="http://opengraphprotocol.org/schema/">

<%- include head %>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container">

    <header role="header" id="header" class="">

        <div>
          <h1 id="logo" class="timetable-header">TIMETABLE</h1>
        </div>
      
    </header>

    <div class="timetable-container">

      <div class="timetable-head">
        <p>WEDNESDAY</p>
      </div>

      <table>
        <tr>
          <td>3pm:</td><td>Olympic Orientation</td>
        </tr>
        <tr>
          <td>4pm:</td><td>Depart for Destination: Mt. Okemo, VT</td>
        </tr>
        <tr>
          <td>8pm:</td><td>Arrival/Check-In To Basecamp</td>
        </tr>
        <tr>
          <td>9pm:</td><td>Opening Ceremony with Food &amp; Cocktails at Colemans</td>
        </tr>
      </table>
      
      <div class="timetable-head">
        <p>THURSDAY</p>
      </div>
    
      <table>
        <tr>
          <td>8am:</td><td>Breakfast/Activity Pass</td>
        </tr>
        <tr>
          <td>9:45am:</td><td>Photocall</td>
        </tr>
        <tr>
          <td>10:00am:</td><td>Lessons Begin</td>
        </tr>
        <tr>
          <td>12:30pm:</td><td>Hide The White Pike</td>
        </tr>
        <tr>
          <td>12:30pm:</td><td>Puzzles</td>
        </tr>
        <tr>
          <td>2pm:</td><td>Catch The Flame</td>
        </tr>
        <tr>
          <td>2:30pm:</td><td>Swedish Snowballs</td>
        </tr>
        <tr>
          <td>3:00pm:</td><td>Intimate Bobsleigh</td>
        </tr>
        <tr>
          <td>3:00pm:</td><td>Tubes of Glory</td>
        </tr>
        <tr>
          <td>3:30pm:</td><td>Improvised Ice Ballet</td>
        </tr>
        <tr>
          <td>4:00pm:</td><td>Lifts Close</td>
        </tr>
        <tr>
          <td>4:30pm:</td><td>Save The Nation</td>
        </tr>
        <tr>
          <td>6:30pm:</td><td>Dinner at The Roundhouse</td>
        </tr>
        <tr>
          <td>9:00pm:</td><td>Bus to Tom's Tavern</td>
        </tr>
        <tr>
          <td>9:30pm:</td><td>Party at Tom's Tavern</td>
        </tr>
      </table>

      <div class="timetable-head">
          <p>FRIDAY</p>
      </div>

      <table>
        <tr>
          <td>8am:</td><td>Breakfast</td>
        </tr>
        <tr>
          <td>10am:</td><td>1st Bus Departs for 595 11th Avenue</td>
        </tr>
        <tr>
          <td>3pm:</td><td>Final Bus Departs for 595 11th Avenue</td>
        </tr>
      </table>

    </div>

    <%- include footer %>
  </div>

<%- include scripts %>
</body>
</html>