<!DOCTYPE html>
<html dir="ltr" lang="en" manifest="/offline.appcache" xmlns:og="http://opengraphprotocol.org/schema/">

<%- include head %>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container">

    <header role="header" id="header" class="">

        <div>
          <h1 id="logo">EVENTS</h1>
        </div>
      
    </header>

    <div class="events-block event-tmpl">
      <img src="/img/tubing_114x114.png">
      <h2 class="blue">TUBES OF GLORY <span class="smaller">(PARALYMPIC EVENT)</span></h2>
      <p>3:00 PM</p>
    
      <div class="event-copy">
        <p>Who needs eyesight to slide down a hill?</p>

        <p class="blue">Athletes per nation: <span class="white">2</span></p>

        <p class="blue">Venue: <span class="white">The Tubing Run</span></p>

        <p class="blue">Judge: <span class="white">Jennifer Brown</span></p>

        <p class="blue">Rules: <span class="white">Athletes race blindfolded down the tubing run. This event will be a knockout system. Three heats of 4 teams will compete. The winners of those heats go head-to-head-to-head for the medals.</span></p>

      </div>
      
    </div>


    <%- include footer %>
  </div>

<%- include scripts %>
</body>
</html>