@import 'variables'

/* 1em = 16px */

/* 1440px */
@media only screen and (max-width: 90em)

  h2
    font-size 2.2em
    line-height 1


/* 1024px */
@media only screen and (max-width: 64em)

  h2
    font-size 2.2em
    line-height 1


/* 896px */
@media only screen and (max-width: 56em)


  h2
    font-size 2.2em
    line-height 1


/* 768px */
@media only screen and (max-width: 48em)


  h2
    font-size 2.2em
    line-height 1

  h3
    font-size 1.1em


/* 640px */
@media only screen and (max-width: 40em)

  h3
    font-size 1.1em


/* 480px */
@media only screen and (max-width: 30em)

  #container
    margin 5% auto 0

  h2
    font-size 1.6em
  

/* 320px */
@media only screen and (max-width: 20em)

  h2
    font-size 1.6em




