@import 'variables'
@import 'normalize'

*,
*:after,
*:before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box


html, body
  height 100%

body
  font-size: 100%
  font-family: Helvetica, Arial, sans-serif
  background-color $blue
  color $white
  
img
  max-width 100%

a
  color: $white
  text-decoration none

p, li
  font-size 1.6em
  margin 0
  padding 0
  font-family: Helvetica, Arial, sans-serif

h1
  font-size 3em
  font-weight normal
  line-height 1.2
  color $purple

h2
  font-size 2.4em
  font-weight 200
  line-height 1.1
  font-family: Helvetica, Arial, sans-serif
  margin 0
  

h3
  font-size 1.3333em
  font-family: Helvetica, Arial, sans-serif

h5
  margin 0
  
ul
  list-style-type none
  margin 0
  padding 0
  
li
  margin 2% 0

header
  margin-bottom 5%

footer
  background-color $footerColor
  margin 0% auto
  text-align center
  width: 100%

footer p
  color $white
  font-size 1.2em

table 
  border-collapse: collapse
  border-spacing: 0.5rem
  text-align: left
  width 100%

tr 
  text-align left
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;

td
  display: table-cell;
  vertical-align: inherit;
  text-align: inherit; 
  padding: 2% 

#container
  margin 3% auto 0
  width 100%
  max-width 420px

#logo-container
  margin 0 auto

#tagline
  clear both
  min-height 240px

#tagline p
  font-family: Helvetica, Arial, sans-serif
  font-size 2.8em

#what
  background-color $blue

#what-copy
  color $white
  font-size 1.2em
  display inline

#what-image
  border 4px solid $white
  width 100%

#what-copy-container
  width: 39%
  display: inline-block
  float: left
  margin: 13% 0 5%

#what-image-container
  display inline-block
  width 53%
  margin 5% 0 5% 7%

#what-image
  margin-top 4%

#who
  background-color $white

#how
  background-color $grey

#logo
  text-align left
  padding-left 25%
  background transparent url('/img/logo-66x66.png') scroll 10px 0 no-repeat
  margin 0 auto
  font-size 3.4em
  min-height 66px
  font-weight bold

#logo-sub
  text-align left
  padding-left 25%
  font-weight bold
  font-size 1.5em

#logo.timetable-header
  font-size 2.5em
  overflow hidden
  line-height 1.8

#logo.ov-header
  font-size 2.5em
  overflow hidden
  line-height 1

#who-container 
  overflow auto
  width 100%
  margin-bottom 9%

#who-copy
  width 60%
  display inline-block
  float left

#who-image
  margin 0
  float right
  background-color $yellow
  border 1px solid $black

#footer-copy-container
  padding 3%
  overflow-y auto

#footer-social
  float left
  width 50%
  text-align left

#footer-blog
  float right
  width 50%
  text-align right

.moist-block
  background $purple
  padding 4% 4%
  margin 0 auto

.moist-block p 
  font-size 1em

.moist-block ul li 
  font-size 1em

.events-block
  background $purple
  text-align center
  padding 4% 0

.events-block > a
  padding 4% 5%
  display inline-block

.event-tmpl
  text-align left

.event-tmpl > img
  float left
  padding 0 5%

.event-copy
  clear left
  margin-top 4%
  padding 0 5%

.event-copy p 
  font-size 1.2em
  padding 3% 0

.nations-block
  background $purple
  text-align center
  padding 4% 0

.nations-block > a
  padding 4% 2%
  display inline-block

.nation-copy
  clear left
  padding 6% 5%

.nation-tmpl h2 
  font-size 1.4em
  padding 3% 0

.nation-copy p 
  font-size 1.2em
  padding 3% 0

.nation-tmpl
  text-align left

.nation-tmpl > img
  float left
  padding 0 5%

.ov-block
  background
  text-align center
  padding 0 4%
  margin 0 auto

.timetable-container
  width 90%
  margin 0 auto

.timetable-head
  color $white
  background $purple
  min-height 60px
  text-align center
  padding 6% 0 0%

.nav
  padding-left 26%
  padding-top 4%
  min-height 60px
  display block
  font-size 1.6em

.purple-row
  background $purple

.transparent-row
  background transparent

.block
  display block

.purple
  color $purple

.white
  color $white

.red
  color $red

.blue
  color $blue

.yellow
  color $yellow

.black
  color $black

.grey
  color $grey

.invert-black-yellow 
  background $black
  color $yellow
  padding 0 2%

.small
  font-size 75%
  line-height 0

.smaller
  font-size 50%
  line-height 0

.smallest
  font-size 25%
  line-height 0


.large
  font-size 150%
  line-height 0

.larger
  font-size 200%
  line-height 0

.largest
  font-size 300%
  line-height 0

.opacity75
  normOpacity(75)

.no-touch a:hover
  color: darken($white,10)

.louder
  color $linkColor
  font-size 1.125em

.justify
  text-align justify

.opacity75
  normOpacity(75)

@import 'responsive'
