article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #1ac1e6;
  color: #fff;
}
img {
  max-width: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}
p,
li {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 3em;
  font-weight: normal;
  line-height: 1.2;
  color: #35499d;
}
h2 {
  font-size: 2.4em;
  font-weight: 200;
  line-height: 1.1;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}
h3 {
  font-size: 1.3333em;
  font-family: Helvetica, Arial, sans-serif;
}
h5 {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 2% 0;
}
header {
  margin-bottom: 5%;
}
footer {
  background-color: #1a1a1a;
  margin: 0% auto;
  text-align: center;
  width: 100%;
}
footer p {
  color: #fff;
  font-size: 1.2em;
}
table {
  border-collapse: collapse;
  border-spacing: 0.5rem;
  text-align: left;
  width: 100%;
}
tr {
  text-align: left;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
td {
  display: table-cell;
  vertical-align: inherit;
  text-align: inherit;
  padding: 2%;
}
#container {
  margin: 3% auto 0;
  width: 100%;
  max-width: 420px;
}
#logo-container {
  margin: 0 auto;
}
#tagline {
  clear: both;
  min-height: 240px;
}
#tagline p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2.8em;
}
#what {
  background-color: #1ac1e6;
}
#what-copy {
  color: #fff;
  font-size: 1.2em;
  display: inline;
}
#what-image {
  border: 4px solid #fff;
  width: 100%;
}
#what-copy-container {
  width: 39%;
  display: inline-block;
  float: left;
  margin: 13% 0 5%;
}
#what-image-container {
  display: inline-block;
  width: 53%;
  margin: 5% 0 5% 7%;
}
#what-image {
  margin-top: 4%;
}
#who {
  background-color: #fff;
}
#how {
  background-color: #939393;
}
#logo {
  text-align: left;
  padding-left: 25%;
  background: transparent url("/img/logo-66x66.png") scroll 10px 0 no-repeat;
  margin: 0 auto;
  font-size: 3.4em;
  min-height: 66px;
  font-weight: bold;
}
#logo-sub {
  text-align: left;
  padding-left: 25%;
  font-weight: bold;
  font-size: 1.5em;
}
#logo.timetable-header {
  font-size: 2.5em;
  overflow: hidden;
  line-height: 1.8;
}
#logo.ov-header {
  font-size: 2.5em;
  overflow: hidden;
  line-height: 1;
}
#who-container {
  overflow: auto;
  width: 100%;
  margin-bottom: 9%;
}
#who-copy {
  width: 60%;
  display: inline-block;
  float: left;
}
#who-image {
  margin: 0;
  float: right;
  background-color: #fbfe07;
  border: 1px solid #000;
}
#footer-copy-container {
  padding: 3%;
  overflow-y: auto;
}
#footer-social {
  float: left;
  width: 50%;
  text-align: left;
}
#footer-blog {
  float: right;
  width: 50%;
  text-align: right;
}
.moist-block {
  background: #35499d;
  padding: 4% 4%;
  margin: 0 auto;
}
.moist-block p {
  font-size: 1em;
}
.moist-block ul li {
  font-size: 1em;
}
.events-block {
  background: #35499d;
  text-align: center;
  padding: 4% 0;
}
.events-block > a {
  padding: 4% 5%;
  display: inline-block;
}
.event-tmpl {
  text-align: left;
}
.event-tmpl > img {
  float: left;
  padding: 0 5%;
}
.event-copy {
  clear: left;
  margin-top: 4%;
  padding: 0 5%;
}
.event-copy p {
  font-size: 1.2em;
  padding: 3% 0;
}
.nations-block {
  background: #35499d;
  text-align: center;
  padding: 4% 0;
}
.nations-block > a {
  padding: 4% 2%;
  display: inline-block;
}
.nation-copy {
  clear: left;
  padding: 6% 5%;
}
.nation-tmpl h2 {
  font-size: 1.4em;
  padding: 3% 0;
}
.nation-copy p {
  font-size: 1.2em;
  padding: 3% 0;
}
.nation-tmpl {
  text-align: left;
}
.nation-tmpl > img {
  float: left;
  padding: 0 5%;
}
.ov-block {
background
  text-align: center;
  padding: 0 4%;
  margin: 0 auto;
}
.timetable-container {
  width: 90%;
  margin: 0 auto;
}
.timetable-head {
  color: #fff;
  background: #35499d;
  min-height: 60px;
  text-align: center;
  padding: 6% 0 0%;
}
.nav {
  padding-left: 26%;
  padding-top: 4%;
  min-height: 60px;
  display: block;
  font-size: 1.6em;
}
.purple-row {
  background: #35499d;
}
.transparent-row {
  background: transparent;
}
.block {
  display: block;
}
.purple {
  color: #35499d;
}
.white {
  color: #fff;
}
.red {
  color: #fc0404;
}
.blue {
  color: #1ac1e6;
}
.yellow {
  color: #fbfe07;
}
.black {
  color: #000;
}
.grey {
  color: #939393;
}
.invert-black-yellow {
  background: #000;
  color: #fbfe07;
  padding: 0 2%;
}
.small {
  font-size: 75%;
  line-height: 0;
}
.smaller {
  font-size: 50%;
  line-height: 0;
}
.smallest {
  font-size: 25%;
  line-height: 0;
}
.large {
  font-size: 150%;
  line-height: 0;
}
.larger {
  font-size: 200%;
  line-height: 0;
}
.largest {
  font-size: 300%;
  line-height: 0;
}
.opacity75 {
  -khtml-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
}
.no-touch a:hover {
  color: #e6e6e6;
}
.louder {
  color: #29d4c7;
  font-size: 1.125em;
}
.justify {
  text-align: justify;
}
.opacity75 {
  -khtml-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
}
@media only screen and (max-width: 90em) {
  h2 {
    font-size: 2.2em;
    line-height: 1;
  }
}
@media only screen and (max-width: 64em) {
  h2 {
    font-size: 2.2em;
    line-height: 1;
  }
}
@media only screen and (max-width: 56em) {
  h2 {
    font-size: 2.2em;
    line-height: 1;
  }
}
@media only screen and (max-width: 48em) {
  h2 {
    font-size: 2.2em;
    line-height: 1;
  }
  h3 {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 40em) {
  h3 {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 30em) {
  #container {
    margin: 5% auto 0;
  }
  h2 {
    font-size: 1.6em;
  }
}
@media only screen and (max-width: 20em) {
  h2 {
    font-size: 1.6em;
  }
}
